.areas {
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.areas__container {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 22px;

  @media (max-width: 1024px) {
    gap: 12px;
  }
}

.areas__wrapper {
  margin-top: clamp(24px, 2.536vw, 48.7px) !important;

  @media (max-width: 1024px) {
    padding: 16px !important;
  }
}

.areas__container::-webkit-scrollbar {
  display: none;
}

.areas__item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(1px, 19.53125vw, 375px);
  align-items: center;
}


.areas__item-title {
  font-size: clamp(18px, 1.66666666667vw, 32px);
  line-height: 1.875;
  white-space: nowrap;
}

.areas__item-descp {
  font-size: clamp(8.7px, 0.83333333333vw, 16px);
  line-height: 1.75;
  white-space: nowrap;
}

.areas__item {
  height: max-content;
  padding: clamp(50px, 4.73958333333vw, 91px) clamp(57px, 5.41666666667vw, 104px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-size: cover;     
    background-position: center;
    background-repeat: no-repeat; */
}

.areas__item-img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
