.burger {
  width: 30px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
  display: none;
  @media (max-width: 1024px) {
    display: flex;
  }
}

.burger span {
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 2px; 
  transition: all 0.3s ease;
  transform-origin: center;
}

.burger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}